.header {
    text-align: center;
}

.game-div {
    width: 75%;
    height: 60vh;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.control-div {
    width: 50%;
    margin: auto;
}